
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="registration/register">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="registration/login">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SBI
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam_district">Ernakulam</a></li>
          <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
    </ul>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bank of Baroda
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam</a></li>
          <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
    </ul>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Canara Bank
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kannur">Kannur</a></li>
          <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a></li>
            <li> <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
    </ul>
      </li>
  </div>
</nav>
<div>
    <div>
</div>
    </div>
<div class="col-md-6">
            <div class="shadow card">
                <div class="card-body">
                    <a href="registration/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
                </div>
            </div>
            <br>
        </div>



